In [4]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

In [22]:
# Read the Mouse and Drug Data
mouseDrug_df = pd.read_csv(mouse_drug_data_to_load)
#mouseDrug_df.head()
mouseDrug_df
#mouseDrug_df.columns

    Mouse ID      Drug
0       f234  Stelasyn
1       x402  Stelasyn
2       a492  Stelasyn
3       w540  Stelasyn
4       v764  Stelasyn
..       ...       ...
245     i669   Placebo
246     r850   Placebo
247     a262   Placebo
248     q787   Placebo
249     j235   Placebo

[250 rows x 2 columns]

In [23]:
# Read the the Clinical Trial Data
clincalTrial_df = pd.read_csv(clinical_trial_data_to_load)
#clincalTrial_df.head()

clincalTrial_df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [83]:
# Combine the data into a single dataset
combined_df = pd.merge(clincalTrial_df, mouseDrug_df, on='Mouse ID', how='left')

# Display the data table for preview
combined_df.head()

# print(combined_df['Mouse ID'].value_counts())
# print(combined_df['Timepoint'].value_counts())
# print(combined_df['Tumor Volume (mm3)'].value_counts())
# print(combined_df['Metastatic Sites'].value_counts())
# print(combined_df['Drug'].value_counts())

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [51]:
# Display the data table for preview

## Tumor Response to Treatment

In [147]:
#groupByDrugTimepoint = combined_df.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)']
#means_df = groupByDrugTimepoint.mean()
#means_df = means_df.reset_index()
#means_df
#means_df["Timepoint"].unique()

In [163]:
# pd.options.display.max_rows = 30

In [164]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
groupByDrugTimepoint = combined_df.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)']
means_df = groupByDrugTimepoint.mean()

# Convert to DataFrame
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html
# https://stackoverflow.com/questions/20110170/turn-pandas-multi-index-into-column
means_df = means_df.reset_index()

# Preview DataFrame
means_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [167]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
stdError_df = groupByDrugTimepoint.sem()

# Convert to DataFrame
stdError_df = stdError_df.reset_index()

# Preview DataFrame
stdError_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [166]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
#groupByDrugTimepoint = combined_df.groupby(['Drug', 'Timepoint'])['Tumor Volume (mm3)']

# Convert to DataFrame
#stdError_series = groupByDrugTimepoint.sem()
#stdError_df = pd.DataFrame(stdError_series)

# Preview DataFrame
#stdError_df

In [172]:
# Minor Data Munging to Re-Format the Data Frames

# use pivot to make Drug columns and Timepoint index for rows, 
# values are mean of Tumor Volume
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html 

meansPivot_df = pd.pivot_table(means_df, index="Timepoint", columns="Drug")

# Preview that Reformatting worked
meansPivot_df.head()

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334

In [173]:
# Minor Data Munging to Re-Format the Data Frames
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html 

# use pivot to make Drug columns and Timepoint index for rows, 
# values are std error of Tumor Volume
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html
stdErrorPivot_df = pd.pivot_table(stdError_df, index="Timepoint", columns="Drug")

# Preview that Reformatting worked
stdErrorPivot_df.head()

          Tumor Volume (mm3)                                          \
Drug               Capomulin  Ceftamin Infubinol  Ketapril  Naftisol
Timepoint
0                   0.000000  0.000000  0.000000  0.000000  0.000000
5                   0.448593  0.164505  0.235102  0.264819  0.202385
10                  0.702684  0.236144  0.282346  0.357421  0.319415
15                  0.838617  0.332053  0.357705  0.580268  0.444378
20                  0.909731  0.359482  0.476210  0.726484  0.595260


Drug        Placebo  Propriva  Ramicane  Stelasyn Zoniferol
Timepoint
0          0.000000  0.000000  0.000000  0.000000  0.000000
5          0.218091  0.231708  0.482955  0.239862  0.188950
10         0.402064  0.376195  0.720225  0.433678  0.263949
15         0.614461  0.466109  0.770432  0.493261  0.370544
20         0.839609  0.555181  0.786199  0.621889  0.533182

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

In [ ]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [ ]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [ ]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 

# Convert to DataFrame

# Preview DataFrame

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview that Reformatting worked

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [ ]:
# Generate the Plot (with Error Bars)

# Save the Figure

# Show the Figure

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [ ]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)

# Convert to DataFrame

# Preview DataFrame

        Drug  Timepoint  Mouse Count
0  Capomulin          0           25
1  Capomulin          5           25
2  Capomulin         10           25
3  Capomulin         15           24
4  Capomulin         20           23

In [ ]:
# Minor Data Munging to Re-Format the Data Frames

# Preview the Data Frame

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,25,25,25,25,25,25,26,25,26,25
5,25,21,25,23,23,24,25,25,25,24
10,25,20,21,22,21,24,23,24,23,22
15,24,19,21,19,21,20,17,24,23,21
20,23,18,20,19,20,19,17,23,21,17

In [ ]:
# Generate the Plot (Accounting for percentages)

# Save the Figure

# Show the Figure
plt.show()

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
dtype: float64

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)